# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build Artifacts
release/
native/mac/main

# Test Binaries
test_hidden_app
test_translator

# C++ Build Artifacts
native/cpp/build/

# Large Model Files
native/models/

# Tauri Build Artifacts
src-tauri/target/
src-tauri/binaries/
src-tauri/*-apple-darwin
src-tauri/*-pc-windows-msvc.exe
src-tauri/models/
*.txt
*.log
